/*
Project Name: Expert’s In
Client: Lucy Van Pelt

[Table Of Contents] 

	01- GENERAL
	02- LAYOUT 
	03- NAVIGATION  
	04- LOGO & SOCIAL MEDIA
	05- MUSIC
	06- HOME BANNER
	07- BLURB
	08- PROFILE BOXES
	09- GALLERY
	10- FOOTER

	ABOUT
	11- GENERAL
	12-TESTIMONIAL

	12- MEDIA QUERIES



*/


/*----------------------------------------------------------------------------- 
=01 GENERAL 
-----------------------------------------------------------------------------*/
/* Setting-up all default styles for the site: body, h1-h6, p, a, etc. */

body {
	line-height: 1.1;
	font-size: 20px;
	font-family: Comic Sans MS;
	font-style: normal;
	font-weight: 400;

}

span {
color: red;

}

/*@font-face {
	  font-family: 'Sue Ellen Francisco';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(http://fonts.gstatic.com/s/sueellenfrancisco/v7/TwHX4vSxMUnJUdEz1JIgrpF8d1ntzT2N4Odh1kY9w00.woff) format('woff');
}*/


a {
 	text-decoration: none;
	color: #ffffff;
}

a:hover {

	text-decoration: underline;
}

p { 

margin: 1.25em 0 1.25em 0;/*25px 0 25px 0*/

}

h1 {

	font-size: 60px;
	margin-top: .167em;
	font-family: 'Sue Ellen Francisco';

}

h2 {

	font-size: 30px;
	font-family: 'Sue Ellen Francisco';

}

h3 {

	font-size: 25px;
	font-family: 'Sue Ellen Francisco';
}

h4 {

	font-size: 16px;
	font-family: 'Sue Ellen Francisco';
}

h5 {

	font-size: 14px;
	font-family: 'Sue Ellen Francisco';
}

h6 {

	font-size: 12px;
	
}

/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/

.center-content {
margin: 0px auto;
width: 85%;

}

#main  {

	padding-top: 115px;
}

/*----------------------------------------------------------------------------- 
=03 NAVIGATION 
-----------------------------------------------------------------------------*/
header {

	background-color: orange;
	position: fixed;
	width: 100%;

}

nav {
	font-family: 'Sue Ellen Francisco';
	overflow: hidden;
	
}

nav a{
float: left;
font-size:40px;
display: block;
height: 1.225em;/*45px*/
color: white;
padding: .90em .45em 0 .45em;/*36px 18px 0 18px */

}

nav a:hover {

text-decoration: none;
background-color: black;
color: #ffffff;
}


#hamburger {
	font-size: 2em;
	display: none;
	background-color: black;
	color: white;
	width: 100%;

}

.clearfix:after {
	content: " ";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


/*----------------------------------------------------------------------------- 
=04 LOGO & SOCIAL MEDIA 
-----------------------------------------------------------------------------*/



#logo h1{
	float: left;
	margin: .333em; /*20px*/

}

#logo h2 {

	float: left;
	/*margin: .333em .333em 0px .333em;0px 10px 0 10px*/	
	
}


#socialMedia {
float: right;
margin: 0;/*5px*/
padding: 0 0 0 0;/*30 0  0 0px*/

}

/*----------------------------------------------------------------------------- 
=05 MUSIC
-----------------------------------------------------------------------------*/
#snoopy {

	position: absolute;
	top: 5%;
	left: 27%;
}

audio {
	float: right;
	margin-top: 1em;
}

/*----------------------------------------------------------------------------- 
=06 HOME BANNER
-----------------------------------------------------------------------------*/

#homebanner {

	display: block;
	clear: both;
	margin: 1.5em 0 .75em 0;/*50px*/
	padding:2em;/*10px*/
	width: 100%;
	height: auto;
}


iframe {

	width: 100%;
	height: 720px;
}
/*----------------------------------------------------------------------------- 
=07 BLURB
-----------------------------------------------------------------------------*/

#blurb {
	border-color: #BDBDBD #FFFFFF #BDBDBD #FFFFFF; /* beveled border*/
	border-style: solid;
	border-width: .04em;/*1px*/

	font-size: 25px;
	margin-bottom: 1em;/*25px*/
	padding: .6em .80em 1em;/*15px 20px 25px*/
	text-align: center;
}

#blurb p {
	margin:0;
}

/*----------------------------------------------------------------------------- 
=08 PROFILE BOXES
-----------------------------------------------------------------------------*/
#profile-boxes {
	overflow: hidden;
	padding-top: 150px;
	padding-bottom: 50px;
	
}


#profile-boxes .profile-box {

	float: left;
	width: 30%;
	margin-right: 2em;/*40px*/

}

#profile-boxes .right { /* flushes profile to the right*/

	
	margin-right: 0px;

}

#profile-boxes .profile-box h3 {

	padding: .40em 0 .75em 0;/*10 0 15px 0*/
}

#profile-boxes .profile-box img {

	border: .30px solid #E2E2E2;/*6px*/
	display: block;
	margin-bottom: 1em;/*20px*/
}

#profile-boxes .profile-box img:hover {
	border-color: #F9F9F9;
}

#profile-boxes a {

	color: black;
}

#profile-boxes h1 {

	margin-top: 55px;
	padding-top: 55px;
	color: red;
	font-weight: bold;
	text-decoration: none;

}

#profile-boxes h2 {
	font-weight: bold;

}

/*----------------------------------------------------------------------------- 
=09 PEANUT GALLERY - LIGHT BOXES THROUGH FANCY BOX
-----------------------------------------------------------------------------*/

#gallery {
	padding-top: 1.5em;/*50px*/
}

.row {

overflow:hidden;

}

#gallery h1 {
padding: .333em;/*20px*/

}

#gallery a h1{

	color: black;
	text-align: center;
}
.row img {
	display: block;
	float: left;
	margin: 0 .20em .2em 0;/*0 4px 4px 0*/

}

.row a:hover {
	opacity: .8;
}

/*Styling the Fancy Box*/
.fancybox-close {
	background-image: none;
	background-color: green;
	border-radius: 50%;
}


/*----------------------------------------------------------------------------- 
=10 FOOTER
-----------------------------------------------------------------------------*/

footer {

	background: orange;
	padding-top: 42px;
	margin-top: 8px;
	overflow: hidden;

}

footer .center-content {

	width: 100%;
	margin: 0 auto;
	padding: 1em 1.75em;/*20px 0 35px*/

}

footer .center-content .box-footer {

	float: left;
	width: 30%;/*300px*/
	padding-right: 1.5em;/*30px*/
	margin-bottom: 2em;/*40px*/

}

footer  .center-content .middle {
	width: 27%;/*260*/
}

footer .center-content h2 {
	
	border-bottom: .033em solid white;/*1px*/
	color: black;
	margin-bottom: .067em;/*2px*/
	padding: .233em 0 .4em;/*7px 0 12px */

}

footer .center-content .box-footer ul li {

	padding:.28em 0;/*9px*/
	border-bottom: .04em white;/*1px*/
	color: white;
	font-size: 25px;
	font-style: italic;

}

footer .center-content .box-footer ul li a:hover {

	text-decoration: none;
	color: black;
	font-size: .65em;/*13px*/
	font-style: normal;

}

footer .center-content .middle img {

	margin-top: .65em;/*10px*/
	display: block;
	padding: .50em;/*10px*/
}

/*ABOUT PAGE STARTS HERE*/
/*----------------------------------------------------------------------------- 
=11 ABOUT PAGE - GENERAL 
-----------------------------------------------------------------------------*/

#leftcol
{
float: left;
width: 50%;
margin: 0 0 10px 10px;
/*background-color: #ddd;
padding: 10px;
border: 1px solid #666;*/
}

  

#rightcol
{
float: right;
width: 50%;
}  

/*----------------------------------------------------------------------------- 
=12 TESTIMONIALS
-----------------------------------------------------------------------------*/   

.aboutCharlie img{
	
	padding: 100px;

}

.aboutCharlie .last img{
	width: 100%;
}

/*----------------------------------------------------------------------------- 
=13 MEDIA QUERIES
-----------------------------------------------------------------------------*/
@media only screen and (min-width:960px) {
	.center-content {
		width: 1080px;
	}
}

@media only screen and (max-width: 870px) {
	

		#profile-boxes .right {
		float:none;
	}
iframe {

	width: 600px;
}

.row{

	display: none;
}
@media only screen and (max-width: 630px) {
	body {
		font-size: 18px;
	}

audio {
	display: none;
}

	#hamburger {
		display: block;
		font-size: 2em;
	}

	#innerNav {
		display: none;

	}

	 .box-footer {

		float: none;
	}
	
nav a {
	float: none;
	display: block;
	background-color: orange;
	text-align: center;
	border: 1px solid #cccccc;
	text-decoration: none;
	vertical-align: baseline;
	
}

#socialmedia {

	display: none;
}

#snoopy {
	display: none;
}
