/*
Project Name: Expert’s In
Client: Lucy Van Pelt

[Table Of Contents] 

	01- GENERAL
	02- LAYOUT 
	03- NAVIGATION  
	04- LOGO & SOCIAL MEDIA
	05- HOME BANNER
	06- BLURB
	07- PROFILE BOXES
	08- GALLERY
	09- FOOTER
	

*/


/*----------------------------------------------------------------------------- 
=01 GENERAL 
-----------------------------------------------------------------------------*/
/* Setting-up all default styles for the site: body, h1-h6, p, a, etc. */

body {
	line-height: 1.1;
	font-size: 20px;
	font-family: 'Sue Ellen Francisco';
	font-style: normal;
	font-weight: 400;

}

/*@font-face {
	  font-family: 'Sue Ellen Francisco';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Sue Ellen Francisco '), local('SueEllenFrancisco'), url(http://fonts.gstatic.com/s/sueellenfrancisco/v7/TwHX4vSxMUnJUdEz1JIgrpF8d1ntzT2N4Odh1kY9w00.woff) format('woff');
}*/


a {
 	text-decoration: none;
	color: #ffffff;
}

a:hover {

	text-decoration: underline;
}

p { 

margin: 25px 0 25px 0;

}

h1 {

	font-size: 60px;
	margin-top: 10px;
	font-family: 'Sue Ellen Francisco';
}

h2 {

	font-size: 30px;
	font-family: 'Sue Ellen Francisco';

}

h3 {

	font-size: 25px;
	font-family: 'Sue Ellen Francisco';
}

h4 {

	font-size: 16px;
	font-family: 'Sue Ellen Francisco';
}

h5 {

	font-size: 14px;
	font-family: 'Sue Ellen Francisco';
}

h6 {

	font-size: 12px;
	font-family: 'Sue Ellen Francisco';
}

/*----------------------------------------------------------------------------- 
=02 LAYOUT 
-----------------------------------------------------------------------------*/

.center-content {
margin: 0px auto;
width: 960px

}

/*----------------------------------------------------------------------------- 
=03 NAVIGATION 
-----------------------------------------------------------------------------*/
header {

	background-color: orange;

}

nav {
	font-family: 'Sue Ellen Francisco';
	overflow: hidden;
	
}

nav a{
float: left;
display: block;
height: 49px;
color: white;
padding: 36px 18px 0 18px;
font-size:40px;



}

nav a:hover {

text-decoration: none;
background-color: black;
color: #ffffff;


}

/*----------------------------------------------------------------------------- 
=04 LOGO & SOCIAL MEDIA 
-----------------------------------------------------------------------------*/

/* Logo with image replacement for the text */

#logo h1{
	float: left;
	margin: 20px; 

}

#logo h2 {

	float: left;
	margin: 10px 10px 0px 10px;
	
	
}


#socialMedia {
float: right;
margin: 5px;
padding: 30px 0 0 0;

}

/*----------------------------------------------------------------------------- 
=05 HOME BANNER
-----------------------------------------------------------------------------*/

#homebanner {

	display: block;
	clear: both;
	margin: 50 auto px;
	padding:10px;
	width: 100%;
	height: auto;
}

/*----------------------------------------------------------------------------- 
=06 BLURB
-----------------------------------------------------------------------------*/

#blurb {
	border-color: #BDBDBD #FFFFFF #BDBDBD #FFFFFF; /* beveled border*/
	border-style: solid;
	border-width: 1px;

	font-size: 25px;
	margin-bottom: 25px;
	padding: 15px 20px 25px;
}

#blurb p {
	margin:0;
}

/*----------------------------------------------------------------------------- 
=07 PROFILE BOXES
-----------------------------------------------------------------------------*/
#profile-boxes {
	overflow: hidden;
	padding-top: 30px;
	padding-bottom: 50px;
	
}


#profile-boxes .profile-box {

	float: left;
	width: 290px;
	margin-right: 40px;

}

#profile-boxes .right{ /* flushes profile to the right*/

	
	margin-right: 0px;

}

#profile-boxes .profile-box h3 {

	padding: 10px 0 15px 0;
}

#profile-boxes .profile-box img {

	border: 6px solid #E2E2E2;
	display: block;
	margin-bottom: 20px;
}

#profile-boxes .profile-box img:hover {
	border-color: #F9F9F9;
}

#profile-boxes a {

	color: black;
}

/*----------------------------------------------------------------------------- 
=08 PEANUT GALLERY - LIGHT BOXES THROUGH FANCY BOX
-----------------------------------------------------------------------------*/

#gallery {
	padding-top: 50px;
}


#gallery h1 {
padding: 20px;


}
.row img {
	display: block;
	float: left;
	margin: 0 4px 4px 0;
}

.row a:hover {
	opacity: .8;
}

/*Styling the Fancy Box*/
.fancybox-close {
	background-image: none;
	background-color: green;
	border-radius: 50%;
}


/*----------------------------------------------------------------------------- 
=09 FOOTER
-----------------------------------------------------------------------------*/

footer {

	background: orange;
	padding-top: 42px;
	margin-top: 8px;
	overflow: hidden;

}

footer .content-center {

	width: 960px;
	margin: 0 auto;
	padding: 20px 0 35px;

}

footer .center-content .box-footer {

	float: left;
	width: 300px;
	padding-right: 30px;
	margin-bottom: 40px;

}

footer  .center-content .middle {
	width: 260px;
}

footer .center-content h2 {
	
	border-bottom: 1px solid white;
	color: black;
	margin-bottom: 2px;
	padding:7px 0 12px ;

}

footer .center-content .box-footer ul li {

	padding: 7px 0;
	border-bottom: 1px solid white;
	color: white;
	font-size: 25px;
	font-style: italic;

}

footer .center-content .box-footer ul li a:hover {

	text-decoration: none;
	color: black;
	font-size: 13px;
	font-style: normal;

}

footer .center-content .middle img {

	margin-top: 10px;
	display: block;
	padding: 10px;
}

