
h1 {
    color: #444444;
    font-family: Lato;
    line-height: 1.5px;
    font-weight: normal;
}
h2{
   color: black;
   font-weight: normal;
}
h3{
   color: black;
   font-weight: normal;

}

img {
    width:720px;
    padding: none;
    border-width: 6px; 
    border: solid;
    border-color: white;
    
    
} 

p{
   
    width:720px;
    padding: none;
    border-width: 6px; 
    border: solid;
    border-color: white;
    font-family: Lato;
    

}
span {
    color: #DD0000;
}

a {
    color: #dddddd;
    padding: 6px;

}

a:hover {
    color: black;
}


.link:hover {
    color: aa0000;
}

.cont {
    
    width:720px;
    padding-bottom: 54px;
    border-width: 6px; 
    border: solid;
    border-bottom-color: #dddddd;
    border-top-color: white;
    border-left-color: white;
    border-right-color: white;
    color: red;
    text-align: right;

}

.copyright {

    color:#bbbbbb;

}


.date {
    color:#cccccc;
    font-family: Lato;
}


.container {
    width: 1070px; 
    margin: 0 auto;
}


Links:
    #DD0000

Links hover:
    #aa0000



Navigation links hover:
    black

