/*
Project Name: Busy Hands
Client: Busy Hands

[Table Of Contents] 

	01- GENERAL
	02- LAYOUT 
	03- SOCIAL MEDIA  
	04- MAIN CONTENT
	05- COLUMNS
	06- BLURB
	07- FOOTER
	08- MISC

*/



/*----------------------------------------------------------------------------- 
=01 GENERAL 
-----------------------------------------------------------------------------*/
/* Setting-up all our default styles for the site: body, h1-h6, p, a, etc. */


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333333;
	background-image: url("../images/bg.png");
	line-height: 1.1;
}

a  {
	text-decoration: none;
	color:#1FA2E1;
}


a:hover  {
	text-decoration: underline;
}

p  {
   margin: 0 0 15px 0;

}


h1 {
	font-size: 54px

}

h2 {
	font-size: 24px

}
h3 {
	font-size: 18px

}
h4 {
	font-size: 14px

}
h5 {
	font-size: 12px

}
/*  logo replacement */

#busyhandslogo {


	width: 291px; 
	height: 54px;
	display: block;
	background: url("../images/logo.png") no-repeat;
	background-size: cover;
	float: left;
	
	text-indent: -9999px;
	overflow: hidden;
}
/*----------------------------------------------------------------------------- 
=02 Stucture of site = Layout
-----------------------------------------------------------------------------*/

.wrapper {
 	width: 960px;
 	margin: 0 auto;


}
/*----------------------------------------------------------------------------- 
=02 Navigation
-----------------------------------------------------------------------------*/

header {

	background-color: black;
}


nav 	{

	
	overflow: hidden;

}

nav a 	{

	color: #CCCCCC;
	padding: 30px 20px;
	height: 49;
	display: block;
	font-size: 18px;
	float: left;

}

nav a:hover {

    color: #ffffff;
	text-decoration: none;
	background-color: #079fde;

	}




/*  social media*/

.socialmedia {

	display: block;
	float: right;
	width: 250px;
	padding: 20px;
	overflow: hidden;
}

#blurb {
float: right;

}



/*  homeboxes*/

#homeboxes {
	border: 6px;
	border-color: #E2E2E2;
	overflow: hidden;
} 

#homeboxes:hover {
	border: 6px;
	border-color:#F9F9F9;
}
	
}
.homebox1 {
width: 290px;
float: left;
margin-right: 40px;

}

.homebox2 {
width: 290px;
float: left;
margin-right: 40px;

}
.homebox3 {
width: 290px;
float: left;
margin-left: 0px;

}

span {

color: #96DDFC;

}

.clear { 

clear: both;

}

footer {

color:#515151;
background-color: black;
font size: 13px;

}

footer a {
	color: #1FA2E1;
	text-decoration: underline;
}


}

h3 {
	color: #CCCCCC;
}

.boxfooter1 {

width: 210px;
float: left;
margin-right: 30px;


}

.boxfooter2 {

width: 400px;
float: left;
margin-right: 30px;


}

.boxfooter3 {

width: 210px;
float: left;
margin-left: 30px;
}


#copyright {

	float: left;
	width: 290px;
}

#tagline {
float: right;
width: 290px;


}




/* 

1) Have 2 font family? Why? How does the website decide which one to use?
2) h1 has a  height of 54px. Is this the same as saying its font size is 54px?




*/
