/*
Project Name: Busy Hands
Client: Busy Hands

[Table Of Contents] 

	01- GENERAL
	02- LAYOUT 
	03- NAVIGATION  
	04- SOCIAL MEDIA
	05- BLURB
	06- HOME BOXES
	07- FOOTER
	08- ENDMATTER

*/



/*----------------------------------------------------------------------------- 
=01 GENERAL 
-----------------------------------------------------------------------------*/
/* Setting-up all our default styles for the site: body, h1-h6, p, a, etc. */


body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	background-image: url("../images/bg.png");
	line-height: 1.1;
}

a  {
	text-decoration: none;
	color:#1FA2E1;
}


a:hover  {
	text-decoration: underline;
}

p  {
   margin: 0 0 15px 0;

}


h1 {
	font-size: 54px

}

h2 {
	font-size: 24px

}
h3 {
	font-size: 18px

}
h4 {
	font-size: 16px

}
h5 {
	font-size: 14px

}


h6 {
	font-size: 12px

}
/*  logo replacement */

#busyhandslogo {


	width: 291px; 
	height: 54px;
	display: block;
	background: url("../images/logo.png") no-repeat;
	background-size: cover;
	float: left;
	
	text-indent: -9999px;
	overflow: hidden;
}
/*----------------------------------------------------------------------------- 
=02 Stucture of site = Layout
-----------------------------------------------------------------------------*/

.wrapper {
 	width: 960px;
 	margin: 0 auto;


}
/*----------------------------------------------------------------------------- 
=03 Navigation
-----------------------------------------------------------------------------*/

header {

	background-color: black;
}


nav 	{

	
	overflow: hidden;

}

nav a 	{

	color: #CCCCCC;
	padding: 36px 18px 0px 18px;
	height: 49px;
	display: block;
	font-size: 17px;
	float: left;

}

nav a:hover {

    color: #ffffff;
	text-decoration: none;
	background-color: #079fde;

	}




/*----------------------------------------------------------------------------- 
=04 Social Media
-----------------------------------------------------------------------------/*  social media*/

.socialmedia {

	display: block;
	float: right;
	width: 250px;
	padding: 20px;
	overflow: hidden;
}


/*----------------------------------------------------------------------------- 
=05 Blurb
-----------------------------------------------------------------------------*/

#blurb p {
	
	margin: 0;
	font-size: 18px;

}


#blurb img {
	float: right;
	border: none;
	margin-top: 5px;

}

#blurb {
	border-color: #BDBDBD #FFFFFF #FFFFFF #BDBDBD; /* adds a fake "beveled" grey on top/left, white on bottom/right */
	border-style: solid;
	border-width: 1px;

	
	margin-bottom: 25px;
	padding: 15px 20px 25px;

}





/*----------------------------------------------------------------------------- 
=06 Homeboxes
-----------------------------------------------------------------------------*/


#homeboxes {
	
	overflow: hidden;
} 


#homeboxes img:hover{

	border-color:#F9F9F9;
}
	
}
.homebox1 {
	
	width: 290px;
	float: left;
	margin-right: 40px;

}

.homebox1 img {

	border: 6px solid;
	border-color: #E2E2E2;
	display: block;
	margin-bottom: 20px;
}

.homebox2 {
	
	width: 290px;
	float: left;
	margin-right: 40px;

}


.homebox2 img {

	border: 6px solid;
	border-color: #E2E2E2;
	display: block;
	margin-bottom: 20px;
}

.homebox3 {
		
	width: 290px;
	float: left;
	margin-left: 0px;

}


.homebox3 img {

	border: 6px solid;
	border-color: #E2E2E2;
	display: block;
	margin-bottom: 20px;
}


.clear { 

	clear: both;

}


-/*---------------------------------------------------------------------------- 
=06 Footer
-----------------------------------------------------------------------------*/

footer {


background-color: black;


}

footer a {
	color: #1FA2E1;
	text-decoration: underline;
}
footer .wrapper {
	 width: 960px;
	 margin: 0 auto;
	 padding: 20px 0 35px;
	 overflow: hidden;

}

}

h3 {
	color: #CCCCCC;
}

footer .wrapper.boxfooter1 {

width: 210px;
float: left;
margin-right: 30px;


}

.boxfooter1 ul li a {

	text-decoration: none;
	color:#515151;
	font-size: 13px;
	font-style: normal;
}

.boxfooter2 {

width: 400px;
float: left;
margin-right: 30px;


}

.boxfooter3 {

width: 210px;
float: left;
margin-right: 30px;


}
/*----------------------------------------------------------------------------- 
=08 ENDMATTER
-----------------------------------------------------------------------------*/
#copyright {

	float: left;
	width: 290px;
}

#tagline {
float: right;
width: 290px;


}




/* 

1) Have 2 font family? Why? How does the website decide which one to use?
2) h1 has a  height of 54px. Is this the same as saying its font size is 54px?
3) for the blurb placed font-saice in p tag para
4) if you only have 3pxs define which parts of the rectangle are defined? See blurb.
5 why overflow hidden when have a div clear in HTML for footer



*/
